<footer>

    <ul class="footerLeft">
        <li><a class="btnLink" href="">Infos</a></li>
        <li><a class="btnLink" href="">Infos</a></li>
        <li><a class="btnLink" href="">Infos</a></li>
    </ul>

    <ul class="footerRight">
        <li><a class="btnLink" href="">Infos</a></li>
        <li><a class="btnLink" href="">Infos</a></li>
        <li><a class="btnLink" href="">Infos</a></li>
    </ul>

    <div class="logosRS">
        <a href=""><img src="{{ asset('/build/images/Facebook.0ab6d351.png') }}" alt="logoFb" title="FB" class="logo"></a>
        <a href=""><img src="{{ asset('/build/images/insta.f2f4e653.png') }}" alt="logoInsta" title="Insta" class="logo"></a>
        <a href=""><img src="{{ asset('/build/images/twitter.b075ea60.png') }}" alt="logoTwi" title="twitter" class="logo"></a>
    </div>

</footer>
