{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h1 class="titleConnexion">Connectez-vous</h1>

    <div class="contenuFom">
        {{ include('security/_form.html.twig') }}
    </div>

{% endblock %}
