$primary-color: rgba(0, 0, 0, 1);
$secondary-color: rgba(255,255,255,1);
$btn-color: rgba(98, 94, 94, 1);
$btn-hover-color: rgba(153, 40, 40, 1);
$invisible: rgba(0, 0, 0, 0);
$card: rgba(98, 94, 94, 0.4);
$card-hover: rgba(153, 40, 40, 0.4);

//$warm-color: #ffd64f;