{# templates/emails/franchise.html.twig #}

<h1>
    Mme ou Mr <b>{{ username }}</b> vient de remplire le formulaire pour devenir franchisé.
</h1>

<p>
    Il vous dit :
    <br>
    {{ contenu }}
</p>


<p>
    Son numéro de téléphone <code>{{ tel }}</code>
    <br>
    Son adresse mail <code>{{ mailClient }}</code>
</p>


