{% extends 'base.html.twig' %}

{% block title %}Edit Plat{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <h1>Edit Plat</h1>

        {{ include('plat/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('plat_index') }}">back to list</a>

        {{ include('plat/_delete_form.html.twig') }}
    {% else %}
        <h1>accès non autorisé</h1>
    {% endif %}

{% endblock %}
